// web site global setting 

$defaultDir : rtl;

//*************************************************************//
//                           PATHS                             // 
// ************************************************************//

$imagesPath : "../images/" ; // related to main style.css 

$fontsPath : "../fonts/" ; // related to main style.css 

//*************************************************************//
//                           TYPOGRAPHY                        // 
// ************************************************************//
$typo:(
    sizes:(
        xs:  .75rem,        //12px
        sm:  .875rem,       //14px   
        nor: 1rem,          //16px
        md:  1.125rem,      //18px 
        lg:  1.25rem,       //20px
        xl:  1.375rem,      //22px
        xxl: 1.5            //24px   
    ),           
    families:(
        en:  sans-serif ,
        ar:  sans-serif
    )
);
//*************************************************************//
//                           MEDIA QUERY                       // 
// ************************************************************//

$breakPoints:(
    mobile:(
        min:0px,
        max:575.98px,
    ),
    tablet:(
        min:575.99px,
        max:767.98px,
    ),
    desktop:(
        min:767.99px,
        max:991.98px
    ),
    large_desktop:(
        min:991.99px,
    ),
);


//*************************************************************//
//                           BORDER RADIUS                     // 
// ************************************************************//

$borderRadius :.4375rem; // 7px



//*************************************************************//
//                           SPACER                            // 
// ************************************************************//

$paddingY :3.125rem; // 50px
$paddingX :0;

$marginY :3.125rem; // 50px 
$marginX :0;