$prefixes:(-webkit-,-o-, -ms-, -moz- );
@mixin addPrefix($property,$value , $important:false) {
    $importantStatus :"";
    @if $important{
        $importantStatus : "!important" ;
    }
    @each $prefix in $prefixes {
        #{$prefix + $property} : #{$value +  $importantStatus};
    }
    #{$property} : #{$value +  $importantStatus};
}

@mixin borderRadius($value: $borderRadius) {
    @include addPrefix(border-radius,$value);
}
@mixin transition($value , $important:false) {
    @include addPrefix(transition,$value, $important)
}
@mixin transform($value ,$important:false) {
    @include addPrefix(transform,$value , $important)
}
@mixin boxShadow ($value ,$important:false){
    @include addPrefix(box-shadow,#{$value} ,$important)
}

@function prefixList ($property,$value){
    $values: ();
    @each $prefix in $prefixes {
        $values:append($values,$prefix + $property $value ,  "space" );
    }
    @return $values
};

@mixin addValuePrefix($property,$value , $important:false) {
    $importantStatus :"";
    @if $important{
        $importantStatus : "!important" ;
    }
    @each $prefix in $prefixes {
        #{$property} : #{$prefix + $value +  $importantStatus};
    }
    #{$property} : #{$value +  $importantStatus};
}



