$prefixes:(--webkit-,-o-, -ms-, -moz- );



@mixin addPrefix($property,$value , $important:false) {
    $importantStatus :"";
    @each $prefix in $prefixes {
        @if $important{
            $importantStatus : "!important" ;
        }
        #{$prefix + $property} : #{$value +  $importantStatus};
    }
    #{$property}:$value;
}
@mixin borderRadius($value: $borderRadius) {
    @include addPrefix(border-radius,$value);
}
@mixin transition($value , $important:false) {
    @include addPrefix(transition,$value , $important)
}
@mixin transform($value ,$important:false) {
    @include addPrefix(transform,$value , $important)
}
@mixin boxShadow ($value ,$important:false){
    @include addPrefix(box-shadow,#{$value} ,$important)
}
@mixin keyFrame ($name){
    @keyframes #{$name} {
        @content;
    }
    @-webkit-keyframes #{$name} {
        @content;
    }
}

@function prefixList ($property,$value){
    $values: ();
    @each $prefix in $prefixes {
        $values:append($values,$prefix + $property $value ,  "space" );
    }
    @return $values
};



